<h3> Users </h3>
<button type="button" class="btn btn-primary" (click)="openModal(template)">Create New</button>

<ng-template #template>
    <div class="modal-body">
        <form class="user-form" #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
            <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="_userService.selectedUser._id">
            <div class="row">
              <div class="form-group col-md-6">
                <label for="userId">UserId</label>
                <input class="form-control" name="userId" #userId="ngModel" [(ngModel)]="_userService.selectedUser.userId">
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-6">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" #password="ngModel" [(ngModel)]="_userService.selectedUser.password">
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-6">
                <label for="badgeId">BadgeId</label>
                <input class="form-control" name="badgeId" #badgeId="ngModel" [(ngModel)]="_userService.selectedUser.badgeId">
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-6">
                <label for="nick">Nick</label>
                <input class="form-control" name="nick" #nick="ngModel" [(ngModel)]="_userService.selectedUser.nick">
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-6">
                <label for="fullName">Fullname</label>
                <input class="form-control" name="fullName" #fullName="ngModel" [(ngModel)]="_userService.selectedUser.fullName">
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-6">
                <button type="submit" class="btn btn-lg btn-block btn-info">Submit</button>
              </div>
              <div class="form-group col-md-6">
                <button type="button" class="btn btn-lg btn-block btn-secondary" (click)="resetForm(userForm)">Reset</button>
              </div>
            </div>
          </form>
    
    </div>
    
</ng-template>

<table class="table table-bordered">
        <thead>
          <tr>
            <th>No.</th>
            <th>UserId</th>
            <th>Password</th>
            <th>badgeId</th>
            <th>Nick Name</th>
            <th>Full Name</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of userService.userList; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{user.userId }}</td>
            <td>{{user.password }}</td>
            <td>{{user.badgeId}}</td>
            <td>{{user.nick}}</td>
            <td>{{user.fullName}}</td>
            <td>
              <input type="button" class="btn btn-warning" value="Edit" (click)="onEdit(user._id)">
              <input type="button" class="btn btn-danger" value="Delete" (click)="onDelete(user._id)">
            </td>
          </tr>
        </tbody>
      </table>