<div class="container theme-showcase" role="main">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand">
          <img src="favicon.ico" class="logo">
        </a>
        <span class="navbar-brand">Xsis Kitchen</span>
      </div>
      <ul class="nav navbar-nav">
        <li>
          <a routerLink="">Home</a>
        </li>
        <li>
          <a routerLink="/categories">Categories</a>
        </li>
        <li>
          <a routerLink="/users">Users</a>
        </li>
        <li>
          <a routerLink="/tables">Table</a>
        </li>
        <li class="dropdown" dropdown>
          <!-- {1} -->
          <a dropdownToggle role="button">
            <!-- {2} -->
            Dropdown
            <span class="caret"></span>
          </a>
          <ul *dropdownMenu class="dropdown-menu">
            <!-- {3} -->
            <li>
              <a href="#">Action</a>
            </li>
            <li>
              <a href="#">Another action</a>
            </li>
            <li>
              <a href="#">Something else here</a>
            </li>
            <li role="separator" class="divider"></li>
            <li>
              <a href="#">Separated link</a>
            </li>
            <li role="separator" class="divider"></li>
            <li>
              <a href="#">One more separated link</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
   <router-outlet></router-outlet> 
</div>