<div class="panel panel primary">
  <div class="panel-heading">
    <h3>Add New</h3>
  </div>
  <div class="panel-body">
    <table>
      <tr>
        <td>
          <label class="col-md-4">Code</label>
        </td>
        <td>
          <input #newCode />
        </td>
      </tr>
      <tr>
        <td>
          <label class="col-md-4">Seat</label>
        </td>
        <td>
          <input #newSeat/>
        </td>
      </tr>
      <tr>
        <td>
          <label class="col-md-4">Description</label>
        </td>
        <td>
          <input #newDescription />
        </td>
      </tr>
    </table>
  </div>
</div>