<form class="cat-form" #userForm ="ngForm" (ngSubmit)="onSubmit(userForm)">
    <input type="hidden" name="_id" #_id="ngModel" [(ngModel)] ="userService.selectedUser._id">
    
   <div class="row">
     <div class="form-group col-md-6">
       <label for="userId">UserId</label>
       <input class="form-control" name="userId" #userId="ngModel" [(ngModel)]
       ="userService.selectedUser.userId">
     </div>

   </div>
    <div class="row">
     <div class="form-group col-md-6">
       <label for="password">Password</label>
       <input class="form-control" name="password" #password="ngModel" [(ngModel)]
       ="userService.selectedUser.password">
     </div>
   </div>

   <div class="row">
    <div class="form-group col-md-6">
      <label for="badgeId">BadgeId</label>
      <input class="form-control" name="badgeId" #badgeId="ngModel" [(ngModel)]
      ="userService.selectedUser.badgeId">
    </div>
  </div>

  <div class="row">
      <div class="form-group col-md-6">
        <label for="nick">Nick Name</label>
        <input class="form-control" name="nick" #nick="ngModel" [(ngModel)]
        ="userService.selectedUser.nick">
      </div>
    </div>

    <div class="row">
        <div class="form-group col-md-6">
          <label for="fullName">Full Name</label>
          <input class="form-control" name="fullName" #fullName="ngModel" [(ngModel)]
          ="userService.selectedUser.fullName">
        </div>
      </div>
  
  <div class="row">
    <div class="form-group col-md-6">
      <button type="submit" class="btn btn-lg btn-block btn-info">Submit</button>
    </div>
    </div>
    <div class="form-group col-md-6">
      <button type="button" class="btn-lg btn-block btn-secondary" (click)="resetForm(categoryForm)">Reset</button>
   
  </div>
  </form>